<style type='text/css'>
  #project-list-item {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #404040;
    border-radius: 6px;
    height: 180px;
    width: 300px;
    border: 1.5px solid #ECF0F1;
    display: flex;
    flex-direction: row;
  }

  #project-list-item .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px 15px;
    justify-content: space-between;
  }

  #project-list-item .title {
    font-size: 1.25em;
    font-weight: bold;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #project-list-item .text {
    color: #C0C0C0;
    letter-spacing: 1.05;
    font-size: 0.70em;
  }

  #project-list-item .note {
    font-size: 0.95em;
    padding-top: 8px;
    line-height: 1.5;
    max-height: 3.0em;
    overflow: hidden;
    word-wrap: break-word;
  }

  #project-list-item .footer {
    border-top: 1px solid #ECF0F1;
    padding-top: 10px;
    display: flex;
    align-items: center;
  }

  #project-list-item .date {
    padding-top: 15px;
    letter-spacing: 1.0;
  }

  #project-list-item .status {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    overflow-x: hidden;
    width: 10px;
  }

  #project-list-item .nudge-text {
    margin-left: 10px;
    font-size: 0.75em;
    letter-spacing: 1.0;
  }

  #project-list-item .link {
    font-size: 0.8em;
    color: #1297E0;
  }

</style>

<div id='project-list-item'>
  <div class='content'>
    {{#if denied}}
      <div class='message'>
        This project is private. The owner should set the privacy level to 'Everyone' in the app in order to share this project.
      </div>
    {{else if notFound}}
      <div class='message'>
        Whoops! There was a problem loading this project.
      </div>
    {{else}}
      <span class='title'>
        {{project.title}}
        <a href='balance://project/{{project._id}}' class='link'>view in app</a>
      </span>
      {{#if isFinished}}
        <div class='message'>This project is finished!</div>
      {{else if project.Past}}
        <div>
          <div class='text'>LATEST COMPLETED</div>
          <div class='note'>{{project.Past.content}}</div>
        </div>
      {{else}}
        <div class='message'>Nothing done for this project</div>
      {{/if}}
      <div class='footer'>
        {{> avatar-collection users=project.nudgeUsers}}
        <span class='text nudge-text'>{{nudgeText}}</span>
      </div>
    {{/if}}
  </div>
  <div class='status'>{{> status}}</div>
</div>
