<style type='text/css'>
  .project-list-item {
    font-family: "Merienda One", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #404040;
    border-radius: 6px;
    height: 200px;
    width: 300px;
    border: 1.5px solid #ECF0F1;
    display: flex;
    flex-direction: row;
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px 15px;
    justify-content: space-between;
  }

  .title {
    font-size: 1.25em;
    font-weight: bold;
    padding-bottom: 5px;
  }

  .text {
    color: #C0C0C0;
    letter-spacing: 1.05;
    font-size: 0.70em;
  }

  .note {
    font-size: 0.95em;
    padding-top: 8px;
    line-height: 1.5;
    max-height: 3.0em;
    overflow: hidden;
    word-wrap: break-word;
  }

  .footer {
    border-top: 1px solid #ECF0F1;
    padding-top: 5px;
  }

  .date {
    padding-top: 15px;
    letter-spacing: 1.0;
  }

  .status {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    overflow-x: hidden;
    width: 10px;
  }
</style>

<div class='project-list-item'>
  <div class='content'>
    <span class='title'>{{project.title}}</span>
    {{#if isFinished}}
      <div class='message'>This project is finished!</div>
    {{else if project.Past}}
      <div>
        <div class='text'>LATEST COMPLETED</div>
        <div class='note'>{{project.Past.content}}</div>
        <div class='text date'>{{lastUpdated}}</div>
      </div>
    {{else}}
      <div class='message'>Nothing done for this project</div>
    {{/if}}
    <div class='footer'>
      test
    </div>
  </div>
  <div class='status'>{{> status}}</div>
</div>